target/classes/exception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="exceptionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/database" allowedMethods="get" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from american]]></db:parameterized-query>
        </db:select>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <exception-strategy ref="exceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <catch-exception-strategy name="exceptionCatch_Exception_Strategy">
        <set-payload value="#['cannot connect to database......plz try later']" doc:name="Set Payload"/>
    </catch-exception-strategy>
    <flow name="exceptionFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/exp1" allowedMethods="get" doc:name="HTTP"/>
        <set-payload value="#[%]" doc:name="Set Payload"/>
        <logger message="expression exception flow #[payload]" level="INFO" doc:name="Logger"/>
        <exception-strategy ref="exceptionCatch_Exception_Strategy1" doc:name="Reference Exception Strategy"/>
    </flow>
    <catch-exception-strategy name="exceptionCatch_Exception_Strategy1">
        <set-payload value="#['expression exception']" doc:name="Set Payload"/>
    </catch-exception-strategy>
    <flow name="exceptionFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/exp2" allowedMethods="get" doc:name="HTTP"/>
        <set-payload value="#[%]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <exception-strategy ref="exceptionCatch_Exception_Strategy2" doc:name="Reference Exception Strategy"/>
    </flow>
    <catch-exception-strategy name="exceptionCatch_Exception_Strategy2">
        <set-payload value="#['expression exception']" doc:name="Set Payload"/>
    </catch-exception-strategy>
</mule>
